.category {
    padding-left:30px;
    min-width:175px;
   
}

tbody {
    .category, .subcategory {
        background: rgb(245,245,245);
        background-clip:padding-box;
    }
    .subcategory {
        color: rgb(75,75,75);
    }
}